.card-anuncio-marketplace-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--color-cinza);
}

/* === IMAGEM === */
.image-profissional{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-dourado);
    
}

/* === DADOS === */
.card-anuncio-marketplace-dados{
    text-align: center;
}

#cardAnuncioTitle{
    font-size: 1.5rem;
}

/* === BOTÃO CONTATO === */
.card-anuncio-marketplace-container a{
    padding: 0.5rem 1.25rem;
    margin-top: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-roxo);
    color: var(--color-branco);
    transition: 0.5s;
    text-decoration: none;
}

.card-anuncio-marketplace-container a:hover{
    background-color: var(--color-dourado);
    color: var(--color-roxo);
}