.homepage__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-escrita{
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 2rem;
}

/* === HOMEPAGE - 1 */
.homepage__home_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.home_one__textos{
    margin-left: 1.75rem;
    width: 100%;
    padding: 2rem;
}

.home_one__textos h1{
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 3rem;
}

.home_one__textos h4{
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

.button_quero_crescer{
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: var(--color-roxo);
    color: var(--color-branco);
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

.button_quero_crescer:hover{
    padding: 1rem 3rem;
    color: var(--color-dourado);
}

.home_one__imagem img{
    width: 20rem;
    border-radius: 15px;
    margin: 0 3rem;
}

/* === HOMEPAGE - 2 */
.homepage__home_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: var(--color-roxo);*/
}

/* === HOMEPAGE - 3 */
.homepage__home_three{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 2rem;
    margin: 2rem 0;
}

.home3_text_title{
    margin: 2rem 0.75rem 4rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home3__imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home3__imagem img{
    width: 20rem;
    border-radius: 15px;
    margin: 0 3rem;
}

@media only screen and (min-width: 768px) {
    .homepage__home_one{
        flex-direction: row;
        justify-content: space-around;
    }

    .home_one__textos, .home_one__textos h1{
        text-align: left;
        font-size: 5rem;
        line-height: 5rem;
    }
    .home_one__textos h4{
        width: 75%;
        text-align: left;
        font-size: 2rem;
        line-height: 2rem;
    }
    .home_one__imagem img{
        width: 50rem;
    }



    .homepage__home_two{
        width: 100%;
    }
    .home_cards{ display: flex;}
    .line1{ width: 80%; }
    .line2{ width: 40%; }





    .home3_text_side{
        display: flex;
        align-items: center;
    }

    .home3__imagem img{
        width: 50rem;
    }

}

