.perfil-container{
    
    /* height: 100vh; */
    /* background-color: #ffbe444b; */
        /*4F46E5  
        F9FBFD 
        */
}

.perfil__box_content{
    padding-top: calc(var(--header-height) + 1.5rem);
    transition: 0.5s;
}

.perfil__container_open{
    margin-left: calc(var(--side-width-close));
}






/* ================== SIDEBAR======================= */
/* Config Geral */
.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--side-width-open);
    position: fixed;
    height: 100vh;
    background: var(--color-dark);
    padding: 1.5rem;
    transition: 0.5s;
  }
  
  /* Config IMAGEM */
  .sidebar__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-contrast);
  }
  
  .sidebar__title img {
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .sidebar__title h1 {
    font-size: var(--body-font);
    display: inline;
  }
  
  .sidebar__title i {
    font-size: 1.5rem;
    display: none;
    text-align: center;
  }














  /* ==============button ============= */
  /* ITENS da sidebsar */
.sidebar__menu {
    transition: 0.5s;
  }
  
  #active {
    background-color: var(--color-text);
    border-left: 4px solid var(--color-contrast);
  }
  
  .sidebar__item {
    margin: 0.75rem -2.5rem 0.75rem -1rem;
    padding: 0.5rem 0rem;
    border-radius: 15px;
    transition: 0.5s;
  }
  
  .sidebar__item:hover {
    background-color: var(--color-text);
    border-left: 4px solid var(--color-text);
  }
  
  .sidebar__item i {
    width: 1.75rem;
  }
  
  .sidebar__item a {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
    color: var(--color-contrast);
    font-weight: 600;
  }
  
  .logout {
    position: fixed;
    bottom: 0.2rem;
    width: 4rem;
    background-color: brown;
  }
  
  .logout a {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-text);
  }
  
  .logout:hover {
    background-color: brown;
  }
  
  /* Toggle Responsivo */
  #responsive-sidebar {
    width: var(--side-width-close);
  }
  
  .responsive {
    margin: 0.75rem -2.25rem 0.75rem -1.25rem;
    padding-right: 0.75rem;
  }
  
  .responsive:hover {
    background-color: var(--color-text);
    border-left: 0px solid var(--color-text);
  }
  
  .responsive a {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: var(--side-width-close);
    }
  
    .sidebar__item {
      margin: 0.75rem -2.25rem 0.75rem -1.30rem;
      padding-right: 0.8rem;
    }
  
    .sidebar__item a {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 0.8rem;
    }
  
    .sidebar__item:hover {
      border-left: 0px solid var(--color-text);
    }
  
    .active {
      border-left: 0px solid var(--color-text);
    }
  }





















/* ITENS da sidebsar */
.sidebar__menu {
    transition: 0.5s;
  }
  
  #active {
    background-color: var(--color-text);
    border-left: 4px solid var(--color-contrast);
  }
  
  .sidebar__item {
    margin: 0.75rem -2.5rem 0.75rem -1rem;
    padding: 0.5rem 0rem;
    border-radius: 15px;
    transition: 0.5s;
  }
  
  .sidebar__item:hover {
    background-color: var(--color-text);
    border-left: 4px solid var(--color-text);
  }
  
  .sidebar__item i {
    width: 1.75rem;
  }
  
  .sidebar__item a {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
    color: var(--color-contrast);
    font-weight: 600;
  }
  
  .logout {
    position: fixed;
    bottom: 0.2rem;
    width: 4rem;
    background-color: brown;
  }
  
  .logout a {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-text);
  }
  
  .logout:hover {
    background-color: brown;
  }
  
  /* Toggle Responsivo */
  #responsive-sidebar {
    width: var(--side-width-close);
  }
  
  .responsive {
    margin: 0.75rem -2.25rem 0.75rem -1.25rem;
    padding-right: 0.75rem;
  }
  
  .responsive:hover {
    background-color: var(--color-text);
    border-left: 0px solid var(--color-text);
  }
  
  .responsive a {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: var(--side-width-close);
    }
  
    .sidebar__item {
      margin: 0.75rem -2.25rem 0.75rem -1.30rem;
      padding-right: 0.8rem;
    }
  
    .sidebar__item a {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 0.8rem;
    }
  
    .sidebar__item:hover {
      border-left: 0px solid var(--color-text);
    }
  
    .active {
      border-left: 0px solid var(--color-text);
    }
  }

























.forms-container-bttp{
    width: 50%;
}

.texto-label-titulo{
    font-size: 2rem;
    margin-top: 1.5rem;
}


.nav-pills a{
    color: #000;
}

.nav-pills{
    
}













.perfil-infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid black;
}

/* ===== DADOS USUARIO ===== */
/* === IMAGEM === */
.perfil-dados-usuario{
    display: flex;
    align-items: center;
}
.perfil-img{
    margin: 2rem 1.75rem 2.25rem 1.25rem;
}
.perfil-img img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}


/* === INFORMAÇÕES === */
#nomeUsuario{
    font-weight: 600;
    font-size: 1.6rem;
}


/* === BOTAO EDIT === */
.perfil-edit{
    display: flex;
    align-items: center;
}

.perfil-edit button{
    width: 5rem;
    height: 2rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    background-color: var(--color-dourado);
}

.perfil-edit p{
    color: var(--color-roxo);
}

/* === DADOS CASAMENTO === */
.perfil-info-casamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 8rem;
    border-radius: 5px;
    background-color: var(--color-dourado);
    margin-right: 1rem;
}

#dataCasamento{
    font-size: 1.5rem;
    color: var(--color-roxo);
    margin-bottom: 0.5rem;
}

.perfil-info-casamento p{
    font-size: 1.25rem;
}


/* ==== CARDS ===== */
.cards-perfil-title{
    margin: 1.5rem 0 1rem 4rem;
    font-size: 1.5rem;
}
/* === FORNECEDORES === */
.perfil-fornecedor-container{
    display: flex;
    align-items: center;
}
.perfil-fornecedor-container a{
    height: 1rem;
    margin-left: 2rem;
    padding: 1rem 1.75rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-cinza);
    color: var(--color-preto);
    border-radius: 5px;
    transition: 0.5s;
}
.perfil-fornecedor-container a:hover{
    padding: 1.25rem 2rem;
    color: var(--color-cinza);
    background-color: var(--color-preto);
}
.cards-perfil-fornecedor-container{
    justify-content: space-between;
    display: flex;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

@media only screen and (min-width: 960px){
    .cards-perfil-fornecedor-container{
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
}

@media only screen and (min-width: 1280px){
    .cards-perfil-fornecedor-container{
        grid-template-columns: auto auto auto auto;
        justify-content: center;
    }
}

@media only screen and (min-width: 1660px){
    .lista-produtos-marketplace{
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
    }
}



/* === NOIV === */


.perfil-fornecedores-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media only screen and (min-width: 768px){
    .perfil-infos{
        padding: 0 4rem;
    }

    .perfil-meus-fornecedores{
        margin-left: 4rem;
    }

    .perfil-fornecedores-card-container{
        padding: 0 4rem;
        flex-direction: row;
    }
}