.progresso-casamentos{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progresso-casamentos-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}


.left{
    margin-right: 3rem;
}

.progress{
    height: 2rem;
}

.right{
    margin-left: 3rem;
}

.status-conta-ico{
    width: 8rem;
}