.card__homepage_container{
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__icon{
    font-size: 3rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    color: var(--color-roxo);
}

.card_title{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.card_description{
    font-size: 1rem;
}