.navbar-container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* ===== LOGO ===== */
.navbar-logo-container{
    display: flex;
    align-items: center;
}
.navbar-logo-container a{
    text-decoration: none;
    color: var(--color-preto);
    transition: 0.5s;
}
.navbar-logo-container a:hover{
    text-decoration: none;
    color: var(--color-roxo);
}
.navbar-logo-img{
    width: 3rem;
    height: 3rem;
}
.navbar-logo-name{
    font-family: var(--font-logo-WedDigital);
    font-size: 1rem;
    line-height: 1rem;
}

/* ==== CENTER ===== */
.mobile-hidden{
    display: none;
}

/* ===== LINKS ===== */
.navbar-links a{
    text-decoration: none;
    margin: 0.6rem;
    color: var(--color-preto);
    transition: 1s;
}
.navbar-links a:hover{
    color: var(--color-roxo);
}

/* ===== LOGIN ===== */
.navbar-login{
    margin-right: 0.5rem;
}
.navbar-login a{
    text-decoration: none;
    margin: 0.2rem;
    color: var(--color-roxo);
    transition: 0.5s;
}
.navbar-login a:hover{
    padding: 0.15rem;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--color-roxo);
    color: var(--color-branco);
    text-decoration: none;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
#btnLogin{
    padding-right: 0.5rem;
    border-right: 1px solid black;
}

#btnAreaEmpresa{
    margin: 1rem;
    padding: 0.20rem;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--color-roxo);
    color: var(--color-branco);
    text-decoration: none;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

#btnAreaEmpresa:hover{
    padding: 0.20rem 1rem;
}

#btnLoginEmpresa{
    text-decoration: none;
    color: var(--color-roxo);
    padding-left: 0.5rem;
    border-left: 1px solid var(--color-roxo);
}

#btnLoginEmpresa:hover{
    color: var(--color-branco);
}

.isLogado{
    display: none;
}



@media only screen and (min-width: 768px) {
    .navbar-container{
        justify-content: space-around;
    }
    .navbar-logo-name{
        font-size: 1.5rem;
    }

    .mobile-hidden{
        display: block;
    }
}