.home-noivos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area1-text-h1{
    margin: 0 2rem;
    font-size: 3rem;
    line-height: 3rem;
}

.area1-description-h4{
    margin: 0 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}



.area1-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    text-align: center;
}
.area1-description a{
    border: none;
    text-decoration: none;
    background-color: var(--color-roxo);
    color: var(--color-branco);
    padding: 0.75rem 1.75rem;
    transition: 0.5s;
    border-radius: 5px;
}
.area1-description a:hover{
    color: var(--color-dourado);
    padding: 0.75rem 2.25rem;
}



.area1-icons{
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}


.home-noivos-area2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-roxo);
    color: var(--color-branco);
}

.area2-part1, .area2-part2{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.area2-h4{
    color: var(--color-dourado);
    font-size: 3rem;
    margin-top: 1rem;
    line-height: 3rem;
}

.area2-part1 a{
    border: none;
    background-color: var(--color-dourado);
    color: var(--color-roxo);
    padding: 0.75rem 1.75rem;
    margin-top: 1rem;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.area2-part1 a:hover{
    padding: 0.75rem 2.25rem;
}



.home-noivos-area3{
    text-align: center;
}

.text-dicas{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 2rem;
}

@media only screen and (min-width: 768px){
    .area1-text-title{
        text-align: center;
    }
    .area1-text-h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .area1-description{
        width: 75%;
    }

    .area2-part1, .area2-part2{
        width: 50%;
    }
    
    .home-noivos-area3{
        width: 70%;
    }
}