@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;200;300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/space-mono.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {


    --header-height: 3rem;
    --side-width-close: 5rem;
    --side-width-open: 14rem;

    /*===== Colors =====*/
    --color-dark: #1B1A19;
    --color-bg: #323130;
    --color-contrast: #F7894A;
    --color-text: #FFFFFF;

    /*===== Font and typography =====*/
    --normal-font-size: 1rem;

    /*===== z index =====*/
    --z-fixed: 100;





    --color-roxo: #6C00BF;
    --color-dourado: #FFBC44;
    --color-branco: #FFF;
    --color-preto: #000;
    --color-cinza: #D8D8D8;

    --body-font: 'HK Grotesk', sans-serif;
    --normal-font-size: 1rem;
    --font-logo-WedDigital : 'Roboto', sans-serif;
}

/* ===== Estilo Geral ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
}



* Move content based sidebar toggle */
#close-sidebar {
    margin-left: -9rem;
}

/* ==== Estilo da Main ==== */
.main {
    margin-left: calc(var(--side-width-close) + 5rem);
    padding-top: calc(var(--header-height) + 1.5rem);
    transition: 0.5s;
}


@media only screen and (min-width: 768px) {
    .main {
        padding-left: calc(var(--side-width-open) + 5rem);
    }
}
