@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;200;300&display=swap');

:root {
    --color-roxo: #6C00BF;
    --color-dourado: #FFBC44;
    --color-branco: #FFF;
    --color-preto: #000;
    --color-cinza: #D8D8D8;

    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --font-logo-WedDigital : 'Indie Flower', cursive;
}

/* ===== Estilo Geral ===== */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
}



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;200;300&display=swap');
